<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'newstyle.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>
<body>
    


    <header>
    
      <ul>
        <li>
          <p1>FixItNow</p1>
        </li>
        <li><a href="{% url 'home' %}" class="navbartext">Home</a></li>
        <li><a href="#services" class="navbartext">Services</a></li>
        <li><a href="#about" class="navbartext">About</a></li>
        <li><a href="#contact" class="navbartext">Contact</a></li>
      </ul>
    
    </header>

{% block content %}{% endblock %}