{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}


{% block content %}
    
<style>
    
</style>
<h1 class="form-jobname-text">Bathroom</h1>

<div class="full-withradius borderbasic">
<h1 class="text-for-nextstep">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h1>
<form action="" method="post">{% csrf_token %}
  <ul>
      {{ wizard.management_form }}
      {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
      {% for form in wizard.form.forms %}
      <div class="form-element">
        {{ form }}
      </div>
      {% endfor %}
      {% else %}
      {{ wizard.form }}
      {% endif %}
      <button class="form-next-botton">Next</button>
  </ul>
</form>
</div>
{% endblock %}