{% extends "base.html" %}
{% load static %}

{% block content %}
<br>



    <div class="img-box">
        <img src="{% static 'whitefamilyinnicekitchen-removebg-preview.png' %}" width="100%">

        <div class="img-wrap">
            <img src="{% static 'whitefamilyinnicekitchen.JPEG' %}" id="originalIMG">
        </div>

        <span id="line">
            <img src="{% static 'arrow.png' %}" class="arrow">
        </span>

    </div>



<script>
    var ImgBox = document.querySelector(".img-box");
    var imgWrap = document.querySelector(".img-wrap");
    var originalIMG = document.getElementById("originalIMG");

    var line = document.getElementById("line");

    originalIMG.style.width = ImgBox.offsetWidth + "px";

    var leftSpace = ImgBox.offsetLeft;

    ImgBox.onmousemove = function(e){
        var boxWidth = (e.pageX - leftSpace) + "px";
        imgWrap.style.width = boxWidth;
        line.style.left = boxWidth;
    }

</script>

<div class="newcontainer" data-type="home">
    <p class="titletwo">Make Your Dream Project A Reality!</p>
    <a href="{% url 'acousticceilings' %}" class="btn11">Acoustic ceilings</a>
    <a href="{% url 'acousticceilings' %}" class="btn11">Audio</a>
    <a href="{% url 'bathroom' %}" class="btn11">Bathroom</a>
    <a href="{% url 'acousticceilings' %}" class="btn11">Decking</a>
    <a href="{% url 'flooring' %}" class="btn11">Flooring</a>
    <a href="{% url 'homebuilder' %}" class="btn11">Homebuilder</a>
    <a href="{% url 'landscaping' %}" class="btn11">Landscaping</a>
    <a href="{% url 'acousticceilings' %}" class="btn11">Painting</a>
    <a href="{% url 'roofing' %}" class="btn11">Roofing</a>
    <a href="{% url 'stonetile' %}" class="btn11">Stone & Tile</a>
    <a href="{% url 'swimmingpool' %}" class="btn11">Swimmingpool</a>
    <a href="{% url 'acousticceilings' %}" class="btn11">Window</a>

</div>

<br>

<div class="footer">


    <li>
        <h1 class="footer-info-text">Join Us</h1>
    </li>
    <li>
        <h1 class="footer-info-text">Help</h1>
    </li>
    <li>
        <h1 class="footer-info-text">Terms of Use</h1>
    </li>
    <li>
        <h1 class="footer-info-text">Privacy Policy</h1>
    </li>
    <li>
        <h1 class="footer-info-text">California Privacy</h1>
    </li>
    <li>
        <h1 class="footer-info-text">Do Not Sell My Info</h1>
    </li>
    <li>
        <h1 class="LLC-text">@HIMS INC</h1>
    </li>

    

</div>

{% endblock %}